@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Dancing+Script&family=Poppins:wght@500&family=Teko&display=swap');

body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Cont-home {
    padding-top: 150px;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container {
    
   color: #9e9ea6;
   font-family: 'Kdam Thmor Pro', sans-serif;
}
.intro {
    width: 70% ;
    
}
.intro p {
    
}
.btnDiv button{
    background-color:#BCBBBD;
    cursor: pointer;
    
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.btnDiv button:hover{
    transition: 0.5s ease-in-out;
    background-color: #AAA7AB;
    color: #1A0000;
}

.right img {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
    margin-left: 80px  ;
    height: 310px;
    width: 305px;
}
.left {
    font-family: 'Chivo Mono', monospace;
    


}
.left h1{
    font-size: 2rem;
}
.left p {
    font-size: 0.8rem;
}
#nama{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.type-write {
    font-size: 0.8rem;
    text-align: start;
    width: 100%;
    
}


@media screen and (min-width: 375px) and (max-width : 500px){
    .Cont-home{
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left h1{
        font-size: 1rem;
    }
    .left  h4{
        font-size: 0.8rem;
    }
}